.btn {
  width: 300px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  font-size: 50px;
  font-weight: 600;

}

.btnIcon {


  position: absolute;
  color: white;
  margin-right: 200px;


}